.tfe {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
    margin-bottom: 10px;
  }
}

.tfe-board {
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 0 0;
  display: flex;
  flex-wrap: wrap;

  &-size {
    &__label {
      display: block;
    }

    &__apply {
      cursor: pointer;
      border: none;
      background-color: lightgreen;
      padding: 10px;
      margin: 10px;
      border-radius: 50%;
      color: white;
      font-weight: bold;
    }
  }

  &__cell {
    border-color: black;
    border-style: solid;
    border-width: 0 0 1px 1px;
    text-align: center;
    height: 20px;
    width: 20px;

    &-number {
      margin-top: 50%;
      transform: translateY(-50%);
      color: #ffffff;

      &.I {
        background-color: #0000ff;
        color: #0000ff;
      }

      &.S {
        background-color: #e22bd9;
        color: #e22bd9;
      }

      &.Z {
        background-color: #8a2be2;
        color: #8a2be2;
      }

      &.T {
        background-color: #2be22b;
        color: #2be22b;
      }

      &.L {
        background-color: #f05209;
        color: #f05209;
      }

      &.J {
        background-color: #f00909;
        color: #f00909;
      }

      &.O {
        background-color: #c9ff05;
        color: #c9ff05;
      }
    }
  }
}
