<h2 class="games__tic-title">
  <ng-container *ngIf="winner; else elseTemplate">
    Player {{ winner }} won the game.
  </ng-container>
  <ng-template #elseTemplate>
    Current player: {{ player }}
  </ng-template>
</h2>

<h2 *ngIf="!winner"></h2>
<h2 *ngIf="winner"></h2>

<app-start-game-btn (startGame)="startNewGame()"></app-start-game-btn>

<main>
  <section class="games__tic">
    <div class="games__tic-board">
      <app-tic-tac-cell *ngFor="let square of squares; let i = index" [value]="square" (click)="makeMove(i)">
      </app-tic-tac-cell>
    </div>
  </section>

</main>
