.games__tic {
  display: flex;
  justify-content: center;

  &-board {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    height: 300px;
    width: 300px;
  }

  &-title {
    text-align: center;
    margin-bottom: 10px;
  }
}
