@import 'src/assets/variables.scss';

.games-board {

  &__list {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 20px 0;
  }

  &__list-item {
    cursor: pointer;
    padding: 10px;

    &.active {
      border-bottom: $border-purple-color;
    }
  }

  &__list-item-link {
    text-decoration: none;
  }
}
