<section class="games-board">
  <nav>
    <ul class="games-board__list">
      <li class="games-board__list-item" routerLinkActive='active'>
        <a class="games-board__list-item-link" routerLink="./tic-tac-toe">Tic Tac Toe</a>
      </li>
      <li class="games-board__list-item" routerLinkActive='active'>
        <a class="games-board__list-item-link" routerLink="./tetris">Tetris</a>
      </li>
      <li class="games-board__list-item" routerLinkActive='active'>
        <a class="games-board__list-item-link" routerLink="./snake">Snake</a>
      </li>
      <li class="games-board__list-item" routerLinkActive='active'>
        <a class="games-board__list-item-link" routerLink="./2048">2048</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</section>
